<html>
<style>
    textarea {
        width: 400px;
        height: 150px;
    }

    .button {
        background-color: teal;
        color: white;
        padding: 15px 15px;
        text-decoration: none;
    }
</style>

<body>
    <h1>Add Country</h1>
    <% if (errors !=undefined) { %>
        <ul>
            <% errors.forEach((error)=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>


            <form action="/addCountry" method="POST">
                <label>Country Code: </label>
                <input type="text" name="co_code"><br><br>
                <label>Country Name: </label>
                <input type="text" name="co_name"><br><br>
                <label>Country Details: </label>
                <textarea name="co_details"></textarea><br><br>
                <input type="submit" value="Add">
            </form>

            <br><br>
            <a href="/" class="button">HOME</a> </button>
</body>

</html>