<!DOCTYPE html>
<html lang="en">
<head>
<style>
    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    h1 {
        color: yellow;
    }
</style>
</head>
<body>
    <h1>PANTAREE SOMCHAROEN(G00365378)</h1><br>
    <a href="/country" class = "button">LIST COUNTRY</a> </button><br><br>
    <a href="/city" class = "button">LIST CITY</a> </button><br><br>    
    <a href="/headsofstate" class = "button">HEADS OF STATE</a> </button><br><br>

</body>

</html>